:root {
    --theme-base: #fff;
    --theme-1: #e07a5f;
    --theme-2: #3d405b;
    --theme-3: #81b29a;
    --theme-4: #f2cc8f;
    --theme-text: #000;

    --theme-completed: var(--theme-3);
    --theme-dropped: var(--theme-1);
    --theme-onhold: var(--theme-4);
    --theme-inprogress: var(--theme-2);
    --theme-planned: var(--theme-text);

    --theme-positive: var(--theme-3);
    --theme-danger: var(--theme-1);
}

body {
    background: var(--theme-base);
    color: var(--theme-text);
    font-family: "Noto Serif", "Noto Serif CJK JP";
    font-size: 16px;
    margin: 0;
    padding: 1em;
    text-rendering: optimizeLegibility;
}

#app {
    width: 60em;
    margin: 0 auto;
}

#app h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 1rem 0;
}

h1 {
    font-weight: normal;
}

h2 {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: 0;
    border-bottom: 1px dotted #000;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    margin: 0;
    padding: 0 1em;
}

label {
    font-weight: bold;
}

input[type="text"] {
    background: none;
    border: 0;
    border-bottom: 1px solid var(--theme-2);

    padding: 0;
    margin: 0;

    font-family: inherit;
    font-size: inherit;
}

.material-icons {
    font-size: 1em !important;
}
